// Die Erste Scss für die Mobile version

nav {
  display: flex;
  justify-content: center;
  a {
    color: $primary-color;
  }
}

header {
  height: $huge;
  background-image: url("../images/header.jpg");
  background-size: cover;
  text-align: center;
  h1 {
    font-weight: bold;
    position: relative;
    top: 2.5rem;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $tertiary-color;
  border: $border-size solid $secondary-color;
  border-radius: 5px;
  padding: 1rem;

  .img {
    background-size: cover;
    height: $large;
    width: 100vw;
    background-position: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    border: $border-size solid $secondary-color;
    padding: 1rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  aside {
    border: $border-size solid $secondary-color;
  }
  h2,
  h3,
  p {
    font-weight: bold;
  }
}

footer {
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  height: 4rem;
  padding: 1rem;
  a {
    color: white;
  }
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    li {
      margin-left: 0.7rem;
    }
  }
}

//  Für die Tablet Version

@media screen and (min-width: $tablet) {
  nav {
    display: flex;
    justify-content: flex-end;
    a {
      color: $primary-color;
    }
    ul {
      justify-content: center;
    }
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    align-items: flex-start;
    width: 80%;
    margin: 0.5rem;
    &-text {
      padding: 0 $tiny $tiny $tiny;
    }
    img {
      flex-grow: 1;
    }
    .card-body {
      flex-grow: 1;
    }
  }

  main {
    flex-flow: row;
    aside {
      width: 25%;
    }
    article {
      width: 50%;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    height: 4rem;
    padding: 1rem;
    a {
      color: white;
    }
    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      li {
        margin-left: 0.7rem;
      }
    }
  }
}
// Für die Desktop Version

@media screen and (min-width: $desktop) {
  .cards {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
  }
  .card {
    flex-grow: 1;
  }
}
